body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#order-area h1{
    font-size: 40px;
}
.order-left-part{
    padding: 120px 0;
}
.order-right-part{
    padding: 120px 0;
}
.green-color{
    color:#ffa600;
}
#order-area p{
    font-weight: 300;
    line-height: 1.8;
}
#order-area .profile-pic{
    text-align: right;
    padding-top: 20px;
}
#order-area .profile-pic img{
    width: 90%;
    cursor: pointer;
}
.gradient-button{
    padding-top: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ffa600, #ffc400);
    color:white;
    font-weight: 700;
    padding: 16px 28px;
    border-radius: 40px;
    box-shadow: 0px 3px 28px -3px #ffa200;
}
.flexible-container{
    display: flex;
}
.half-width{
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
}

/* about me css  */
#about-me{
    background-image: url("images/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}